{#
<div class="search-box mt-5">
    <form class="search-form d-flex" action="" method="post">
        <input class="form-control" type="search" placeholder="{{ 'Rechercher'|trans }}" aria-label="Search">
        <button class="btn btn-search" type="submit">
            <i class="fa fa-search fa-lg text-rouge"></i>
        </button>
    </form>
</div>
#}